name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: bun install

      - name: Run bun tests
        run: bun test

      - name: Run rust tests
        run: cargo test --manifest-path src-tauri/Cargo.toml
